CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_GPIO_CTRL_FUNC_IN_IRAM=y
CONFIG_RMT_ISR_IRAM_SAFE=y
CONFIG_RMT_RECV_FUNC_IN_IRAM=y
CONFIG_PM_ENABLE=y
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
